name: Gateway Image - Build and Push to GHCR (Native AMD64 and ARM64)

on:
  workflow_dispatch:
    inputs:
      # packages_run_id:
      #   description: 'Run ID of the build_packages workflow to download the Debian package from'
      #   required: true
      manifest_tag:
        description: 'Tag for the Docker manifest'
        required: false
      # base_version:
      #   description: 'Base version for the Docker image'
      #   required: false

  push:
    branches:
      - 'main'
    paths-ignore:
      - '*.md'

permissions:
  packages: write
  contents: read
  id-token: write

env:
  # DEFAULT_BASE_VERSION: '0.104.0'
  DEFAULT_MANIFEST_TAG: 'test'
  IMAGE_NAME: documentdb-local
  IMAGE_TAG: ${{ github.run_id }}-$(date +'%Y-%m-%d')

jobs:
  build-and-push:
    name: Build and Push Images
    strategy:
      matrix:
        arch: [amd64, arm64]
        include:
          - arch: amd64
            base_arch: AMD64
            runner: ubuntu-22.04
          - arch: arm64
            base_arch: ARM64
            runner: ubuntu-22.04-arm
        pg_version:
          - 15
          - 16
          - 17
    runs-on: ${{ matrix.runner }}
    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    # - name: Set Default Values
    #   run: |
    #     echo "BASE_VERSION=${{ github.event.inputs.base_version || env.DEFAULT_BASE_VERSION }}" >> $GITHUB_ENV
    # - uses: actions/download-artifact@v5
    #   with:
    #     name: archive-deb13-${{ matrix.arch }}-pg${{ matrix.pg_version }}-documentdb-${{ env.BASE_VERSION }}
    #     github-token: ${{ secrets.GITHUB_TOKEN }} # token with actions:read permissions on target repo
    #     repository: fatmelon/documentdb
    #     run-id: ${{ github.event.inputs.packages_run_id }}
    #     path: ./downloaded-artifacts/
    # - name: Display structure of downloaded files
    #   run: ls -R ./downloaded-artifacts/
    - name: Extract and Format Default Version
      id: extract_version
      run: |
        DOCUMENTDB_VERSION=$(grep -E "^default_version" pg_documentdb_core/documentdb_core.control | sed -E "s/.*'([0-9]+\.[0-9]+-[0-9]+)'.*/\1/")
        DOCUMENTDB_VERSION=$(echo $DOCUMENTDB_VERSION | sed "s/-/./g")
        echo "Extracted Version: $DOCUMENTDB_VERSION"
        echo "DOCUMENTDB_VERSION=$DOCUMENTDB_VERSION" >> $GITHUB_ENV
    - name: Build Debian Package
      run: |
        ./packaging/build_packages.sh --os deb13 --pg ${{ matrix.pg_version }} --version ${{ env.DOCUMENTDB_VERSION }} --output-dir downloaded-artifacts
        ls -R downloaded-artifacts
    - name: Login to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Build and Push ${{ matrix.arch }} Image
      run: |
        TAG=${{ env.IMAGE_TAG }}-${{ matrix.pg_version }}-${{ matrix.arch }}
        docker build \
          --platform linux/${{ matrix.arch }} \
          --build-arg BASE_IMAGE=debian:trixie-slim \
          --build-arg POSTGRES_VERSION=${{ matrix.pg_version }} \
          --build-arg DEB_PACKAGE_REL_PATH=downloaded-artifacts/$(ls downloaded-artifacts | grep -v 'dbgsym')  \
          -t ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:$TAG \
          -f .github/containers/Build-Ubuntu/Dockerfile_combined .
        docker push ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:$TAG
    
  create-manifest:
    name: Create, Push, Sign & Verify Manifest
    strategy:
      matrix:
        pg_version:
          - 15
          - 16
          - 17
    runs-on: ubuntu-22.04
    needs: build-and-push
    steps:
    - name: Login to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Set Default Values
      run: |
        DOCUMENTDB_VERSION=$(grep -E "^default_version" pg_documentdb_core/documentdb_core.control | sed -E "s/.*'([0-9]+\.[0-9]+-[0-9]+)'.*/\1/")
        DOCUMENTDB_VERSION=$(echo $DOCUMENTDB_VERSION | sed "s/-/./g")
        echo "Extracted Version: $DOCUMENTDB_VERSION"
        echo "DOCUMENTDB_VERSION=$DOCUMENTDB_VERSION" >> $GITHUB_ENV
        # echo "MANIFEST_TAG=${{ github.event.inputs.manifest_tag || env.DEFAULT_MANIFEST_TAG }}-${{ matrix.pg_version }}" >> $GITHUB_ENV
        echo "MANIFEST_TAG=${{ matrix.pg_version }}-$DOCUMENTDB_VERSION" >> $GITHUB_ENV
    - name: Create and Push Manifest
      run: |
        docker manifest create ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.MANIFEST_TAG }} \
          --amend ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}-${{ matrix.pg_version }}-amd64 \
          --amend ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}-${{ matrix.pg_version }}-arm64
        docker manifest push ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.MANIFEST_TAG }}
    - name: Install cosign
      uses: sigstore/cosign-installer@main
    - name: Sign manifest (keyless)
      run: |
        DIGEST=$(docker buildx imagetools inspect ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.MANIFEST_TAG }} \
          | awk '/^Digest:/ { print $2 }')
        echo "Signing manifest-list@${DIGEST}"
        cosign sign ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}@${DIGEST} -y
    - name: Verify manifest signature (keyless)
      run: |
        DIGEST=$(docker buildx imagetools inspect ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.MANIFEST_TAG }} \
          | awk '/^Digest:/ { print $2 }')
        cosign verify \
          --certificate-identity-regexp "https://github.com/${{ github.repository }}/.github/workflows/build_gateway.yml@refs/heads/${{ github.ref_name }}" \
          --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
          ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}@${DIGEST}

  create-manifest-latest:  
    name: Create, Push, Sign & Verify Manifest (latest)
    runs-on: ubuntu-22.04
    needs: build-and-push
    steps:
    - name: Login to GHCR
      run: echo "${{ secrets.GITHUB_TOKEN }}" | docker login ghcr.io -u ${{ github.actor }} --password-stdin
    - name: Set Default Values
      run: |
        DOCUMENTDB_VERSION=$(grep -E "^default_version" pg_documentdb_core/documentdb_core.control | sed -E "s/.*'([0-9]+\.[0-9]+-[0-9]+)'.*/\1/")
        DOCUMENTDB_VERSION=$(echo $DOCUMENTDB_VERSION | sed "s/-/./g")
        echo "Extracted Version: $DOCUMENTDB_VERSION"
        echo "DOCUMENTDB_VERSION=$DOCUMENTDB_VERSION" >> $GITHUB_ENV
        # echo "MANIFEST_TAG=${{ github.event.inputs.manifest_tag || env.DEFAULT_MANIFEST_TAG }}-${{ matrix.pg_version }}" >> $GITHUB_ENV
        echo "MANIFEST_TAG=latest" >> $GITHUB_ENV
    - name: Create and Push Manifest
      run: |
        docker manifest create ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.MANIFEST_TAG }} \
          --amend ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}-17-amd64 \
          --amend ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }}-17-arm64
        docker manifest push ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.MANIFEST_TAG }}
    - name: Install cosign
      uses: sigstore/cosign-installer@main
    - name: Sign manifest (keyless)
      run: |
        DIGEST=$(docker buildx imagetools inspect ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.MANIFEST_TAG }} \
          | awk '/^Digest:/ { print $2 }')
        echo "Signing manifest-list@${DIGEST}"
        cosign sign ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}@${DIGEST} -y
    - name: Verify manifest signature (keyless)
      run: |
        DIGEST=$(docker buildx imagetools inspect ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}:${{ env.MANIFEST_TAG }} \
          | awk '/^Digest:/ { print $2 }')
        cosign verify \
          --certificate-identity-regexp "https://github.com/${{ github.repository }}/.github/workflows/build_gateway.yml@refs/heads/${{ github.ref_name }}" \
          --certificate-oidc-issuer "https://token.actions.githubusercontent.com" \
          ghcr.io/${{ github.repository }}/${{ env.IMAGE_NAME }}@${DIGEST}